<% if (animal =="pig"){%>
<h3>the pig says oink</h3>
<% } %>

<% if(animal =="cow"){ %>
<h3>The cow says moo</h3>
<% } %>

<% if(animal =="dog"){ %>
<h3>The dog says woof woof</h3>
<% } %>

<% if(animal ==="cat"){ %>
<h3>The cat says meow</h3>
<% } %>

<% if(animal =="bird"){ %>
<h3>The bird says quiquik</h3>
<% } %>




